@import '../../../../../variables';

.RoleLevelChart {
  &__Bars {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  &__Legend {
    display: flex;
    border-top: 1px solid rgba($black, 0.16);
    padding: 5px 0;
    justify-content: space-around;

    &__Item {
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.2px;
      text-align: center;
      color: rgba($color: $black, $alpha: 0.38);
      width: 120px;
    }

    &__Item--Selected {
      color: $black;
    }
  }
}
