@import '../../../variables';

.PageContainer {
  height: 1132px;
  width: 800px;
  background-color: $white;
  overflow: hidden;
  padding: 20px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__Content {
    flex: 1;
  }
}

@media screen {
  .PageContainer {
    border: 1px solid black;
    margin: 40px auto;
  }
}
