.SoftSkillSynergy {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(auto, 280px) auto minmax(auto, 280px);
  grid-column-gap: 100px;

  &__Container {
    display: grid;
    align-items: center;
  }
}
