@import '../../../../../variables';

.AssessmentSummary {
  &__Heading {
    &__Content {
      border-bottom: 1px dashed rgba($black, 0.5);
      padding: 6px 3px;

      &__TotalTime {
        display: flex;
        align-items: center;

        &__Icon {
          margin-right: 9px;

          path {
            fill: $black;
          }
        }
      }
    }

    // &__BorderBottom {
    //   background-image: linear-gradient(
    //     to right,
    //     black 50%,
    //     rgba(255, 255, 255, 0) 0%
    //   );
    //   background-position: bottom;
    //   background-size: 11px 1px;
    //   background-repeat: repeat-x;
    //   height: 1px;
    // }
  }

  &__TestsSummary {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
}
