@import '../../../variables';
@import '../../../theme';

.ContainedButton {
  border: 0;
  border-radius: $button-border-radius;
  cursor: pointer;
  font-size: $p1-font-size;
  font-weight: $medium-bold;
  line-height: $medium-line-height;
  background-color: $green;
  height: 56px;
  width: 251px;
}

.ContainedButton:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ContainedButton--Primary {
  @include themify($themes) {
    background-color: themed('primaryContainedBackgroundColor');
  }
  color: $white;
}

.ContainedButton--Secondary {
  @include themify($themes) {
    background-color: themed('secondaryContainedBackgroundColor');
  }
  color: $white;
}

.ContainedButton--Tertiary {
  @include themify($themes) {
    background-color: themed('whiteContainedBackgroundColor');
  }
  color: $black;
  border: solid 1px rgba($color: #000000, $alpha: 0.16);
}

.ContainedButton--Disabled {
  background-color: rgba($color: $black, $alpha: 0.3);
  cursor: not-allowed;
}

.ContainedButton--Loading {
  border: 1px solid $green;
  background-color: $white;
}

.ContainedButton--Loading--Primary {
  @include themify($themes) {
    border: 1px solid themed('primaryContainedBackgroundColor');
    background-color: themed('tertiaryContainedBackgroundColor');
  }

  .Loader {
    .Loader__Animation {
      > div {
        @include themify($themes) {
          background-color: themed('primaryContainedBackgroundColor');
        }
      }
    }
  }
}
