.SoftSkill {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: inherit;
  align-items: center;

  @media screen and (max-width: 900px) {
    margin-bottom: 24px;
    grid-column-gap: 16px;
  }

  &__Icon {
    width: 48px;
    height: 48px;

    @media screen and (max-width: 900px) {
      width: 40px;
      height: 40px;
    }
  }

  &__Name {
    font-size: 24px;
    
    &::first-letter {
      text-transform: capitalize;
    }

    @media screen and (max-width: 900px) {
      font-size: 18px;
    }
  }
}