@import '../../../variables';

.Input {
  border: 0;
  border-bottom: 2px solid $black;
  font-size: $p1-font-size;
  height: 36px;
  line-height: $medium-line-height;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border-radius: 0;

  &:disabled {
    background-color: transparent;
  }

  &::placeholder {
    font-size: $p1-font-size;
    line-height: $medium-line-height;
    color: rgba($black, 0.56);
  }
}
