@import '../../../../../variables';

.AssessmentLinks {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__ButtonLink {
    width: 220px;
    height: 48px;
    border: solid 2px $blue;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__Text,
  &__TextLink {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.2px;
  }

  &__Text {
    margin-top: 20px;
  }

  &__TextLink {
    text-decoration: underline;
    margin-top: 10px;
  }
}
