.nav-first-item {
  display: flex;
  align-items: center;
}
.nav-second-item {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.navbar-onboard {
  display: flex;
  justify-content: space-between;
  height: 72px;
  max-width: 960px;
  min-width: 320px;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.current-page {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
