@import '../../../../../variables';

.SuccessProfileSoftSkillSummary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &__IconWrapper {
    margin-right: 16px;
    padding: 6px;
    border-radius: 6px;

    svg {
      max-width: 20px;
      max-height: 20px;
    }
  }

  &__Content {
    &__SoftSkillName {
      font-size: 16px;
      line-height: 1.5;
      margin-top: 6px;
      margin-bottom: 24px;
    }

    &__Summary {
      &__Paragraph {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.2px;
        margin-bottom: 10px;
      }
    }
  }
}

.SuccessProfileSoftSkillSummary--DIFFERENTIATOR {
  .SuccessProfileSoftSkillSummary__IconWrapper {
    border: 1px solid $purple;
  }
}

.SuccessProfileSoftSkillSummary--CORE {
  .SuccessProfileSoftSkillSummary__IconWrapper {
    border: 1px solid $blue;
  }
}

.SuccessProfileSoftSkillSummary--DIVERSITY {
  .SuccessProfileSoftSkillSummary__IconWrapper {
    border: 1px solid $green;
  }
}
