.Type {
  height: 72px;
  display: grid;
  padding: 0 50px;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 25px;
  justify-items: center;
  align-items: center;

  &:nth-child(2) {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
  }

  &__Image {
    justify-self: end;
  }

  &__Name,
  &__Score {
    font-size: 24px;
    font-weight: normal;

    &:last-child {
      justify-self: start;
    }

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
