.Trait {
  margin-bottom: 15px;
  border-radius: 50%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &__Status {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    position: relative;

    @media screen and (max-width: 1024px) {
      width: 40px;
      height: 40px;
    }
  }

  &__Bullet {
    font-size: 18px;

    &--Bold {
      font-weight: 500;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }
}
