@import '../../../variables';

.CreatePassword {
  &__ErrorNotificationMessage {
    font-size: $p2-font-size;
    font-weight: $medium-bold;

    a {
      font-size: $p2-font-size;
      font-weight: $medium-bold;
      text-decoration: underline;
    }
  }
}
