.Convergence {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.12);
  justify-self: center;
  align-self: center;
  position: relative;

  &__Content {
    width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .Gauge {
      margin: 0 auto;
    }
  }

  &__Waves {
    &__Tablet {
      @media screen and (min-width: 1441px) {
        display: none;
      }
    }

    &__Desktop {
      @media screen and (max-width: 1440px) {
        display: none;
      }
    }
  }
}
