@import '../../../../../../variables';

.SuccessProfileSoftSkillTypesLegendItem {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__IconWrapper {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Title {
    font-size: 14px;
    line-height: 1.43;
    margin-left: 8px;
  }
}

.SuccessProfileSoftSkillTypesLegendItem--CORE {
  .SuccessProfileSoftSkillTypesLegendItem__IconWrapper {
    background-color: rgba($color: $blue, $alpha: 0.1);

    svg {
      max-height: 12px;
      max-width: 12px;

      path {
        fill: $blue;
      }
    }
  }
}

.SuccessProfileSoftSkillTypesLegendItem--DIFFERENTIATOR {
  .SuccessProfileSoftSkillTypesLegendItem__IconWrapper {
    background-color: rgba($color: $purple, $alpha: 0.1);

    svg {
      max-height: 12px;
      max-width: 12px;

      path {
        fill: $purple;
      }
    }
  }
}

.SuccessProfileSoftSkillTypesLegendItem--DIVERSITY {
  .SuccessProfileSoftSkillTypesLegendItem__IconWrapper {
    background-color: rgba($color: $green, $alpha: 0.1);

    svg {
      max-height: 12px;
      max-width: 12px;

      path {
        fill: $green;
      }
    }
  }
}
