.Slider {
  box-sizing: border-box;

  .rc-slider {
    .rc-slider-dot:first-child {
      margin-left: 0px !important;
    }

    .rc-slider-dot:last-child {
      margin-left: -5px !important;
    }

    .rc-slider-dot {
      margin-bottom: 15px;
      background-color: rgba(0, 0, 0, 0.16);
      border: 0;
      width: 4px;
      height: 4px;
    }

    .rc-slider-handle {
      user-select: none;
    }
  }
}
