@import '../../../variables';

.CandidateReportHeaderDesktop {
  margin-bottom: 75px;

  &__Container {
    margin-bottom: 28px;
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-items: end;
    align-items: center;

    &__Navigation {
      a {
        font-weight: $medium-bold;
        display: grid;
        grid-template-columns: max-content max-content;
        grid-column-gap: 16px;
        align-items: center;

        h6 {
          font-size: 18px;
        }
      }
    }

    &__Options {
      a {
        font-size: 16px;
        font-weight: $medium-bold;
        text-decoration: underline;
      }
    }
  }
}
