.AboutAuthorPage {
  .PageContainer__Content {
    padding-top: 22px;
  }

  &__Headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;

    &__Avatar {
      margin-bottom: 40px;
      max-width: 80px;
      max-height: 80px;
      border-radius: 50%;
    }

    &__Heading {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.33;
    }

    &__Name {
      margin-bottom: 20px;
    }

    &__Paragraph {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
    }

    &__Paragraph:not(:last-child) {
      margin-bottom: 10px;
    }

    &__Link {
      text-decoration: underline;
    }
  }

  &__Summary {
    &__Paragraph {
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 10px;
    }

    &__FinalParagraph {
      font-size: 14px;
      line-height: 1.43;
      margin-top: 40px;
    }
  }
}
