@import '../../../../../../variables';

.SoftSkillDataSourcesRow {
  display: flex;
  flex-direction: column;

  &__Title {
    display: flex;
    align-items: center;
    padding: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    &__Icon {
      path {
        fill: $white;
      }
    }

    &__Text {
      line-height: 1.33;
      letter-spacing: 0.2px;
      font-size: 12px;
      font-weight: 500;
      margin-left: 4px;
      color: $white;
    }
  }

  &__Content {
    padding: 4px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .SoftSkillDataSourcesRowCard:not(:first-child) {
    margin-top: 4px;
  }
}

.SoftSkillDataSourcesRow--DIFFERENTIATOR {
  .SoftSkillDataSourcesRow__Title {
    background-color: $purple;

    &__Icon {
      max-width: 14px;
      max-height: 14px;
    }

    &__Text {
      margin-bottom: -2px;
    }
  }

  .SoftSkillDataSourcesRow__Content {
    background-color: rgba($purple, 0.2);
  }
}

.SoftSkillDataSourcesRow--CORE {
  .SoftSkillDataSourcesRow__Title {
    background-color: $blue;

    &__Icon {
      max-width: 14px;
      max-height: 14px;
    }

    &__Text {
      margin-bottom: -2px;
    }
  }

  .SoftSkillDataSourcesRow__Content {
    background-color: rgba($blue, 0.2);
  }
}

.SoftSkillDataSourcesRow--DIVERSITY {
  .SoftSkillDataSourcesRow__Title {
    background-color: $green;

    &__Icon {
      max-width: 14px;
      max-height: 14px;
    }

    &__Text {
      margin-bottom: -2px;
    }
  }

  .SoftSkillDataSourcesRow__Content {
    background-color: rgba($green, 0.2);
  }
}
