.CandidateReportDesktop {
  padding: 32px;

  .SoftSkillResults {
    margin-bottom: 120px;

    .SoftSkillResults__List {
      display: flex;
      justify-content: flex-start;

      .SoftSkillOverviewPartial {
        width: 33.3%;
      }
    }
  }

  .SoftSkillOverviewFull {
    margin-bottom: 70px;
    grid-template-columns: 710px auto;
    grid-column-gap: 72px;

    @media screen and (max-width: 1440px) {
      grid-template-columns: 515px auto;
    }
  }
}
