@import '../../../variables';

.PasswordInput {
  border-bottom: 2px solid $black;
  display: flex;

  input {
    border: 0;
    font-size: $p1-font-size;
    height: 36px;
    line-height: $medium-line-height;
    width: calc(100% - 22px);
    font-size: 14px;
  }

  &__Button {
    border: 0;
    background-color: transparent;
    cursor: pointer;

    svg {
      width: 22px;

      path {
        fill: rgba(0, 0, 0, 0.16);
      }
    }
  }
}
