.SoftSkillOverviewFull {
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: 560px 1fr;
  grid-column-gap: 80px;

  &:last-child {
    margin-bottom: 32px;
  }

  &__SoftSkill {
    .SoftSkill {
      grid-column-gap: 30px;

      @media screen and (max-width: 1024px) {
        grid-column-gap: 40px;
      }
    }

    &__Details {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 30px;

      &__Text {
        font-size: 18px;

        @media screen and (max-width: 899px) {
          font-size: 14px;
        }
      }
    }
  }

  &__Traits {
    grid-column-gap: 16px;
  }
}
