.CandidateReportFooter {
  width: 100%;
  height: 40px;
  border-top: 1px solid black;
  position: relative;

  &__Container {
    font-size: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
