.NotIncludedSoftSkillRow {
  &__Title {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.2px;
    padding-bottom: 8px;
  }

  &__List {
    &__Item {
      line-height: 1.33;
      letter-spacing: 0.2px;
      font-size: 12px;
      padding: 12px 8px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 6px;
    }

    &__Item:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}
