@import '../../../../variables';

.SignUpForm {
  .FormField--email,
  .FormField--fullName,
  .FormField--password {
    margin-bottom: 8px;
  }

  &__SubmitButton {
    margin: 0 auto;
  }
  .CheckboxFormField {
    margin-bottom: 24px;
  }
}
