.SoftSkillResults {
  &__Heading {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 15px;
  }

  &__Caption {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 40px;
  }

  &__List {
    display: grid;
  }
}
