@import '../../../variables';
@import '@spotted-zebra-uk/sz-theme.theme/index.module.scss';

.RestorePassword {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 400px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  min-height: min-content;
  max-height: 820px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__Top {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;

    &__Logo {
      margin-left: auto;
      margin-right: auto;
    }

    &__TitleWrapper {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__Title {
      height: 126px;
      margin-top: 30px;
      margin-bottom: 10px;

      &__Row {
        font-size: $h2-font-size;
        font-weight: $medium-bold;
        line-height: $large-line-height;
      }
    }
  }

  .RestorePasswordForm {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__RedirectToSignUp {
    font-size: $p1-font-size;
    line-height: $medium-line-height;
    margin: 10px auto;
  }

  &__RedirectToLogin {
    margin-top: 27px;
    margin-bottom: 20px;
    text-align: center;
    @include desktop-body-font;

    .RestorePassword__Link {
      padding: 0;

      div {
        @include desktop-body-font;
      }
    }
  }
}
