@import '../../../variables';

.SquareButton {
  border: 0;
  border-radius: $button-border-radius;
  cursor: pointer;
  font-size: $p1-font-size;
  font-weight: $medium-bold;
  line-height: $medium-line-height;
  height: 56px;
  width: 251px;
}

.SquareButton:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.SquareButton--Green {
  background-color: $green;
  color: $white;
}

.SquareButton--Purple {
  background-color: $purple;
  color: $white;
}

.SquareButton--White {
  background-color: $white;
  color: $black;
}

.SquareButton--Disabled {
  background-color: rgba($color: $black, $alpha: 0.3);
  cursor: not-allowed;
}
