.SoftSkillOverviewMobile {
  border-radius: 12px;
  margin: 0 6px 0 6px;
  box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.12);

  &__Container {
    padding: 16px 16px 20px 16px;
    grid-column-gap: 16px;

    &__SoftSkill {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: inherit;

      .SoftSkill__Icon {
        margin-right: 10px;
      }
    }

    &__Traits {
      margin-bottom: 24px;
      grid-column-gap: inherit;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__Text {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
